
hr{

  border-style:none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}
body{
  background-color: #f1fcfc;
}
.tab{
  background-color: #5b8c85;
}
h3{
  color: #5b8c85;
}
.tab{
  color: #f1fcfc;
}
.photoshop{
 height: 50%;
  width: 50%;
}
.profile{
  border-radius: 100%;
}
h1{
  font-size: 50px;
}
i:hover{
  color: black;
}
i{
  color: #f1fcfc;

}
.hv:hover{
  color: black;
  background-color:#5b8c85 ;
}
