a{
  color: #5b8c85;
}
hr{

  border-style:none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}
body{
  background-color: #f1fcfc;
  margin:0;
  font-family: 'Gotu', sans-serif;
}


h3{
  color: #5b8c85;
  font-size: 30px;
  font-family: 'Baloo Bhai 2', cursive;

}
.photoshop{
 height: 50%;
  width: 50%;
}
.profile{
  border-radius: 100%;
  height: 80px;
  width: 100px;
}
h1{
  font-size: 30px;
  margin-top: 0;
  font-family: 'Great Vibes', cursive;
}
i:hover{
  color: black;
}
i{
  color: #f1fcfc;

}
.hv:hover{
  color: black;
  background-color:#5b8c85 ;
}
.mainbody{
  padding:50px;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
}
#uptab{
  position:fixed;
  margin-right: 0;
  z-index: 1;
  right: 0;
  left: 0;
  background-color: #5b8c85;
  color: #f1fcfc;
  padding-left: 50px;
  padding-top: 20px;

}
#downtab{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5b8c85;
  color: #f1fcfc;
  padding-left: 50px;
  padding-right: 50px;
}
h2{
  font-family: 'Baloo Bhai 2', cursive;
}
.introtable{
  border-collapse: separate;
  border-spacing:25px 0;
}
